.widget-base {
  border-radius: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  width: 18rem;
  height: 25rem;
  padding: 1.5rem;
  box-sizing: border-box;
  background: #fff;
}

.widget-state--error {
  color: rgb(199, 50, 50);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.widget-state--loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.widget__message {
  text-align: center;
  white-space: pre-line;
  color: #191919;
  text-transform: uppercase;
}

.widget__buttons {
  display: flex;
  gap: 1rem;
}

.widget__button {
  background: #385ab6;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
}

.widget__button:hover {
  background: #2a4389;
}

.widget-state--starting {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 360px) {
  .widget-base {
    width: 16rem;
    height: 22rem;
  }
}

@media (min-width: 1200px) {
  .widget-base {
    width: 20rem;
    height: 27rem;
  }
}